@charset "UTF-8";
/* CSS Document */
@-webkit-keyframes works_anime1 {
		0% {
			-webkit-transform: translateX(800%);
		}
		to {
			-webkit-transform: translateX(-100%);
		}
	}
	@-webkit-keyframes works_anime2 {
			0% {
				-webkit-transform: translateX(700%);
			}
			to {
				-webkit-transform: translateX(-100%);
			}
		}

html{
	width: 100vw;

}
body{
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	width: 100vw;
}
#first-animetion{
	margin: 0;
	padding: 0;
}

header{
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 70;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
#menu{
	width: 100vw;
	height: 100vh;
	background-color: #1C1C1C;
}
#menu nav{

}
#menu nav ul{
	margin: 0;
}
#menu nav ul li{
	list-style: none;
	text-align: left;
}
#menu nav ul li a{
	color: transparent;
	font-size: 8em;
	font-family: 'Anton', sans-serif;
	-webkit-text-stroke: 3px #ffffff;
	letter-spacing: normal;
	text-decoration: none;
}

#home{
	position: relative;
	width: 100vw;
	height: 100vh;
}
#first-title{
	width: 100vw;

}
.ft_garou{
	color: transparent;
	font-size: 12vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	-webkit-text-stroke: 2px #000000;
	letter-spacing: 20px;
	line-height: 0.8;
	margin: 0;
}
.ft_shoes{
	color: #000000;
	font-size: 13vw;
	width: 100vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	letter-spacing: 20px;
	line-height: 0.9;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	margin: 0;
	position: absolute;
	left: 0;
}
#menu_button{
	position: absolute;;
	z-index: 40;
	top: 2%;
	right: 2%;
	width: 86px;
	height: 86px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.menu_line1{
	border: 0.3px solid #000000;
}
.menu_line2{
	border: 0.3px solid #000000;
}
.menu_line3{
	border: 0.3px solid #000000;
}
#home_content{
	width: 100vw;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	z-index: 60;
	bottom: 0;
	right: 0;
}
.home_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35vw;
}
.home_ja{
	color: #000000;
	font-size: 1.4vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-feature-settings: "palt";
	position: relative;
	z-index: 40;
}
.home_ja::before{
	content: " ";
	white-space: pre-wrap;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #FC1F5A;
	position: absolute;;
	z-index: -5;
	top: -5%;
	left: -5%;
}
.home_en{
	color: #000000;
	font-size: 0.8vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-feature-settings: "palt";
	position: relative;
}
.home_en::before{
	content: " ";
	white-space: pre-wrap;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background-color: #FC1F5A;
	position: absolute;;
	z-index: -5;
	top: -5%;
	left: -5%;
}

.home_img{
	width: 50vw;
	height: 60vh;
	object-fit: cover;
	border-radius: 96px 0 0 96px;
}
.contact_button{
	width: 20vw;
	height: 5vh;
	background-color: #FA163F !important;
	color: #ffffff;
	font-size: 0.8vw;
	border-radius: 15px;
	border: none;
}

#about{
	position: relative;;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#about_title{
	position: absolute;
	z-index: 30;
	right: -3%;
	overflow: hidden;
}
#about_title h2{
	color: #000000;
	font-size: 14vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	margin: 0;
}
#about_content{
	position: absolute;
	z-index: 40;
	bottom: 0;
	left: 0;
	width: 100vw;
	display: flex;
}
.about_img{
	width: 50vw;
	height: 70vh;
	object-fit: cover;
	border-radius: 0 96px 96px 0;
}
.about_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30vw;
	margin-left: 10vw;
}

#works{
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
#works_title{
	position: absolute;
	z-index: 40;
	top: 0;
	left: -3%;

}
#works_title h2{
	color: #000000;
	font-size: 16vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	margin: 0;
}
.works_line1{
	display: flex;
	position: absolute;
	z-index: 50;
	top: 24%;
	left: 0;
	width: 100vw;
}

.shoes1{
	width: 20vw;
	height: 30vh;
	object-fit: cover;
	margin: 0 1.5vw;
	-webkit-animation: works_anime1 5s linear infinite;

}
.shoes2{
	width: 30vw;
	height: 30vh;
	object-fit: cover;
	margin: 0 1.5vw;
	-webkit-animation: works_anime2 5s linear infinite;


}
.shoes3{
	width: 35vw;
	height: 30vh;
	object-fit: cover;
	margin: 0 1.5vw;

}
.shoes4{
	width: 25vw;
	height: 30vh;
	object-fit: cover;
	margin: 0 1.5vw ;
}
.works_img{
	border-radius: 25px;
}

#contact{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
#contact_title{
	position: absolute;
	z-index: 40;
	top: 0;
	left: -3%;
}
#contact_title h2{
	color: #000000;
	font-size: 16vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	margin: 0;
}
#contact_content{
	display: flex;
	position: absolute;
	z-index: 40;
	top: 35%;
	left: 20%;
}
.contact_text{

}
.contact_button{
	color: #ffffff;
	background-color: #10EAF0;
	font-size: 1.5vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 600;
}
.phone_shape_wrap{
	width: 40vw;
	height: 60vh;
}
.phone_shape_top{
	border: 0.3px solid #000000;
	border-radius: 25px 25px 0 0;
	width: 100%;
	height: 15%;
	margin: 0;
}
.phone_shape_middle{
	border-left: 0.3px solid #000000;
	border-right: 0.3px solid #000000;
	width: 100%;
	height: 70%;
	position: relative;
}
.phone_shape_middle P{
	text-align: right;
	margin: 0;
	padding: 5px;
	border-radius: 8px 8px 0 8px;
	background-color: #06A8AD;
	color: #ffffff;
	font-size: 0.8vw;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 600;
}
.DM_text1{
	position: absolute;
	z-index: 40;
	top: 10%;
	right: 3%;

}
.DM_text2{
	position: absolute;
	z-index: 40;
	top: 25%;
	right: 3%;
}
.phone_shape_bottom{
	border: 0.3px solid #000000;
	border-radius: 0 0 25px 25px;
	width: 100%;
	height: 15%;
}
